/* Global Scope */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

i,
svg {
  pointer-events: none;
}

/* main */
.sequencer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.track {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  margin: 0rem 1rem;
}

.controls button {
  padding: 0.5rem;
  border: none;
  background: rgb(63, 63, 63);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

select {
  padding: 0.75rem;
  font-size: 0.75rem;
  margin-left: 1rem;
}

.pad-container {
  display: flex;
  flex: 2;
}

.pad {
  width: 4.5rem;
  height: 4.5rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.kick-pad {
  background: rgba(13, 212, 238, 0.705);
}
.kick-pad.active {
  background: rgb(29, 227, 253);
}
.snare-pad {
  background: rgba(81, 255, 148, 0.712);
}
.snare-pad.active {
  background: rgb(81, 255, 148);
}
.hihat-pad {
  background: rgba(245, 142, 190, 0.678);
}
.hihat-pad.active {
  background: rgb(253, 88, 165);
}

.play {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  background: rgb(63, 63, 63);
  color: white;
  cursor: pointer;
  transition: all 0.5s ease;
  margin-top: 1rem;
}
