/* Global Scope */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

i,
svg {
  pointer-events: none;
}

/* main */
.sequencer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.track {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 2rem 0rem;
}

.controls {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  margin: 0rem 3rem 0rem 1rem;
}

.controls h2 {
  flex: 1 1 2rem;
}

.controls .button-div {
  flex: 1 1 2rem;
}

.controls button {
  padding: 0.5rem;
  border: none;
  background: rgb(63, 63, 63);
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.controls .active {
  background: rgb(190, 190, 190);
}

select {
  padding: 0.5rem 1rem 0.5rem 0;
  margin: 0;
  flex: 1.5 1 2rem;
}

.pad-container {
  display: flex;
  flex: 2;
}

.pad {
  width: 4.5rem;
  height: 4.5rem;
  margin: 1rem 0.5rem;
  cursor: pointer;
  transition: all 0.5s ease;
}

.kick-pad {
  background: rgb(196, 248, 255);
}
.kick-pad.active {
  background: rgb(29, 227, 253);
}
.snare-pad {
  background: rgb(192, 255, 216);
}
.snare-pad.active {
  background: rgb(81, 255, 148);
}
.hihat-pad {
  background: rgb(250, 214, 230);
}
.hihat-pad.active {
  background: rgb(253, 88, 165);
}

.play {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  background: rgb(63, 63, 63);
  color: white;
  cursor: pointer;
  transition: all 0.5s ease;
  margin-top: 1rem;
}

.tempo {
  margin: 1rem;
  width: 30%;
}

.tempo-slider {
  padding: 0.2rem;
  -webkit-appearance: none;
  margin: 1rem 0rem;
  width: 100%;
  position: relative;
  background: rgb(63, 63, 63);
  cursor: pointer;
  border-radius: 1rem;
}

.tempo p {
  font-size: 1.5rem;
  margin: 1rem;
  text-align: center;
}

@keyframes playTrack {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}
